<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767002391981-9j82657tm0ecepdi75lq3rq9ap0rmmj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767002391981-9j82657tm0ecepdi75lq3rq9ap0rmmj4</string>
	<key>API_KEY</key>
	<string>AIzaSyC40vwfpMaJASP0jTlE-gjO1-S7GkjVoN4</string>
	<key>GCM_SENDER_ID</key>
	<string>767002391981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppyist</string>
	<key>PROJECT_ID</key>
	<string>shoppyist-ee379</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppyist-ee379.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767002391981:ios:d78ddc15300a6a03435d24</string>
</dict>
</plist>